body,
html {
  /*Page font*/

  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /* Background image*/

  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 2,5rem;
	color: #e2dbdb;
}

hr {
	border-color: #0000FF;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 5rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #0000FF;
	border-color: #0000FF;
	border-width: 1px;
}

.btn-primary:hover {
	background-color: #ee0838;
	border-color: #ee0838;
	border-width: 1px;
}

.btn-xl {
	padding: 1rem 2rem;

}